body {
    font-family: Arial, sans-serif;
    background-color: #9c1fea;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #59045b;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: #e3e0e3;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #cc2dcc;
    border-radius: 4px;
}