body {
    font-family: Arial, sans-serif;
    background-color: rgb(218, 238, 184);
}

header {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

button {
    margin: 0 10px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: burlywood;
}

#produtosContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: white;
}

.produto {
    border: 1px solid #cccccc;
    margin: 10px;
    padding: 10px;
    text-align: center;
    background-color: rgb(233, 158, 53);
}

.produto img {
    max-width: 100px;
    height: auto;
}

.produto.cards {
    width: 200px;
}

.produto.lista {
    width: 100%;
    display: flex;
    align-items: center;
}

.produto.lista img {
    margin-right: 20px;
}